In [ ]:
import sqlite3
import pandas as pd

In [ ]:
df = pd.read_csv("/content/drive/My Drive/python_test/test01.csv")

In [1]:
df

NameError: name 'df' is not defined

In [5]:
df.head()

   Unnamed: 0       日付    始値    高値    安値    終値      売買高   修正後終値
0           0  6/10（水）  7061  7140  7011  7094  4770800  7094.0
1           1   6/9（火）  7100  7129  7020  7121  5846500  7121.0
2           2   6/8（月）  7160  7174  7106  7167  6342100  7167.0
3           3   6/5（金）  6946  7067  6940  7067  5365100  7067.0
4           4   6/4（木）  7007  7100  6933  6974  7860000  6974.0

In [ ]:
db_name = 'sample.db'
conn = sqlite3.connect(db_name)

In [7]:
conn

In [8]:
df.to_sql('human',conn,if_exists='replace')

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:2663: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

In [ ]:
c = conn.cursor()

In [ ]:
query = 'SELECT * FROM human'

In [11]:
c.execute(query)

In [12]:
c.fetchone()

(0, 0, '6/10（水）', 7061, 7140, 7011, 7094, 4770800, 7094.0)

In [13]:
c.fetchall()

[(1, 1, '6/9（火）', 7100, 7129, 7020, 7121, 5846500, 7121.0),
 (2, 2, '6/8（月）', 7160, 7174, 7106, 7167, 6342100, 7167.0),
 (3, 3, '6/5（金）', 6946, 7067, 6940, 7067, 5365100, 7067.0),
 (4, 4, '6/4（木）', 7007, 7100, 6933, 6974, 7860000, 6974.0),
 (5, 5, '6/3（水）', 6900, 6937, 6860, 6915, 6444300, 6915.0),
 (6, 6, '6/2（火）', 6785, 6865, 6768, 6774, 5962700, 6774.0),
 (7, 7, '6/1（月）', 6785, 6820, 6685, 6720, 4506700, 6720.0),
 (8, 8, '5/29（金）', 6900, 6945, 6755, 6755, 21832300, 6755.0),
 (9, 9, '5/28（木）', 6839, 6980, 6826, 6973, 9734100, 6973.0),
 (10, 10, '5/27（水）', 6640, 6775, 6592, 6740, 7699300, 6740.0),
 (11, 11, '5/26（火）', 6440, 6680, 6426, 6649, 7740600, 6649.0),
 (12, 12, '5/25（月）', 6385, 6395, 6336, 6383, 3070300, 6383.0),
 (13, 13, '5/22（金）', 6420, 6436, 6280, 6289, 4653700, 6289.0),
 (14, 14, '5/21（木）', 6441, 6445, 6354, 6362, 3527600, 6362.0),
 (15, 15, '5/20（水）', 6402, 6431, 6387, 6415, 4274100, 6415.0),
 (16, 16, '5/19（火）', 6346, 6462, 6338, 6431, 7019000, 6431.0),
 (17, 17, '5/18（月）', 6280, 6300, 6248, 6257, 4345000, 6257.0),
 (18, 18, '5/15（金）', 6300, 6320, 6208, 6249, 5478600, 6249.0),
 (19, 19, '5/14（木）', 6300, 6326, 6243, 6243, 6494600, 6243.0),
 (20, 20, '5/13（水）', 6412, 6460, 6372, 6384, 8131500, 6384.0),
 (21, 21, '5/12（火）', 6610, 6655, 6485, 6527, 7809400, 6527.0),
 (22, 22, '5/11（月）', 6620, 6675, 6582, 6658, 5180000, 6658.0),
 (23, 23, '5/8（金）', 6448, 6511, 6421, 6492, 5449200, 6492.0),
 (24, 24, '5/7（木）', 6382, 6457, 6373, 6414, 5930400, 6414.0)]

In [14]:
for row in c.execute(query):
  print(row)

(0, 0, '6/10（水）', 7061, 7140, 7011, 7094, 4770800, 7094.0)
(1, 1, '6/9（火）', 7100, 7129, 7020, 7121, 5846500, 7121.0)
(2, 2, '6/8（月）', 7160, 7174, 7106, 7167, 6342100, 7167.0)
(3, 3, '6/5（金）', 6946, 7067, 6940, 7067, 5365100, 7067.0)
(4, 4, '6/4（木）', 7007, 7100, 6933, 6974, 7860000, 6974.0)
(5, 5, '6/3（水）', 6900, 6937, 6860, 6915, 6444300, 6915.0)
(6, 6, '6/2（火）', 6785, 6865, 6768, 6774, 5962700, 6774.0)
(7, 7, '6/1（月）', 6785, 6820, 6685, 6720, 4506700, 6720.0)
(8, 8, '5/29（金）', 6900, 6945, 6755, 6755, 21832300, 6755.0)
(9, 9, '5/28（木）', 6839, 6980, 6826, 6973, 9734100, 6973.0)
(10, 10, '5/27（水）', 6640, 6775, 6592, 6740, 7699300, 6740.0)
(11, 11, '5/26（火）', 6440, 6680, 6426, 6649, 7740600, 6649.0)
(12, 12, '5/25（月）', 6385, 6395, 6336, 6383, 3070300, 6383.0)
(13, 13, '5/22（金）', 6420, 6436, 6280, 6289, 4653700, 6289.0)
(14, 14, '5/21（木）', 6441, 6445, 6354, 6362, 3527600, 6362.0)
(15, 15, '5/20（水）', 6402, 6431, 6387, 6415, 4274100, 6415.0)
(16, 16, '5/19（火）', 6346, 6462, 6338, 6431, 7019000, 6431.0)
(17, 17, '5/18（月）', 6280, 6300, 6248, 6257, 4345000, 6257.0)
(18, 18, '5/15（金）', 6300, 6320, 6208, 6249, 5478600, 6249.0)
(19, 19, '5/14（木）', 6300, 6326, 6243, 6243, 6494600, 6243.0)
(20, 20, '5/13（水）', 6412, 6460, 6372, 6384, 8131500, 6384.0)
(21, 21, '5/12（火）', 6610, 6655, 6485, 6527, 7809400, 6527.0)
(22, 22, '5/11（月）', 6620, 6675, 6582, 6658, 5180000, 6658.0)
(23, 23, '5/8（金）', 6448, 6511, 6421, 6492, 5449200, 6492.0)
(24, 24, '5/7（木）', 6382, 6457, 6373, 6414, 5930400, 6414.0)

In [ ]:
conn.close()

In [16]:
c.fetchall()

ProgrammingError: ignored

In [17]:
c

In [18]:
c.fetchall()

ProgrammingError: ignored